{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Comercializadora Modelo{% endblock %}</title>

  <!-- Tailwind CSS vía CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!--AOSCSS-->
  <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

  <!-- Css -->
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
</head>
<body class="bg-gradient-to-br from-white to-red-50 text-gray-800">

  <!-- Navbar -->
  {% include 'partials/navvar.html' %}

  <main class="container mx-auto py-10 px-4">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  {% include 'partials/footer.html' %}

  <script src="{% static 'js/navbar.js' %}"></script>
  <script src="{% static 'js/form-handler.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true,
      duration: 800
    });
  </script>

</body>
</html>
